* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  list-style: none;
  // transition: 0.1s all;
}
html {
  font-size: 14px;
}

.app-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex-grow: 1;
  }
}
.error {
  border: 2px solid #ff6565;
}
.error-message {
  color: #ff6565;
  padding: 0.5em 0.2em;
  font-size: 0.8em;
}
